<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./source/index.css">
  <title>SPARK</title>

</head>

<body>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="position zbottom" width=100%>
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container">
      <div class="spark ztop" >
        <center class="title spark">SPARK</center>
      </div>
  </div>


  <div class="contents">
      <div class="wrap">
          <div id="lower">
              <input class="login" type="text" placeholder="대화명을 입력하세요!!" name="uname" required>
              <div class = "emotion box">
              </div>
              <input type="submit" value="다음">
          </div>
          <button class="button2"type="button" name="button">Go!</button><br>
      </div>
  </div>

  <input placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button>Button</button>

  <!-- <div class="contents">
        <div class="wrap">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/B-logo-1.png" alt="Better Then Me loge" height="100" width="100"><br>
          <input class="login" type="text" placeholder="Enter Username" name="uname" required>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <button class="button2"type="button" name="button">LOG IN</button><br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>

        </div>
      </div> -->


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
